<launch>
  <include file="$(find moveo_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="moveo_plannning_node" pkg="moveo_moveit"
        type="moveo_plan" respawn="false" output="screen">
    <rosparam command="load"
              file="$(find moveo_moveit_config)/config/kinematics.yaml"/>
  </node>
</launch>